* {
    box-sizing: border-box;
}


.bg-box {
    background-color: green;
    margin: 0;
    padding: 0;
}

.bg-box {
    height: 100px;
    width: 150px;
    background-image: url(../image/donut.png);
    background-repeat: repeat-y;
    background-position: right;
}