* {
    box-sizing: border-box;
}


.bg-box {   
    margin: 0;
    padding: 0;
}

.bg-box {
    height: 800px;
    width: 100%;
    background-color: green;
    /* background-image: url(../image/donut.png), url(../image/lamp.png), url(../image/grass.png), url(../image/eghik.webp), url(../image/house.webp);
    background-repeat: repeat-y,repeat-x,repeat-x,repeat-y,no-repeat;
    background-position: right,top,bottom,left,center; */
    background-image: url(../image/house.webp), url(../image/grass.png), url(../image/donut.png), url(../image/lamp.png), url(../image/eghik.webp);
    background-repeat: no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: center, bottom, right, top, left;
    background-size: 400px 300px, 200px 100px, 100px 100px, 200px 100px, 100px 100px;
}

